/* LinkedIn */
html:not([data-nfe-enabled='false'])
	.scaffold-finite-scroll
	> div:not(#nfe-container) {
	opacity: 0 !important;
	pointer-events: none !important;
	height: 0 !important;
}

/* LinkedIn trending news section */
aside.scaffold-layout__aside {
	opacity: 0 !important;
	pointer-events: none !important;
	height: 0 !important;
}

/* Post section */
.share-box-feed-entry__closed-share-box {
	opacity: 0 !important;
	pointer-events: none !important;
	height: 0 !important;
}
